<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Blog Post Details{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
    
    
     <link rel="stylesheet" href="/static/css/style.css">
     <link rel="stylesheet" href="/static/css/contact.css">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    
   
</head>
<body>
<nav>
  <div class="container flex">
    <a class="logo" href="/">Qui<span>lee</span></a>
    <div class="links">
      <ul class="flex nav-list">
        <li><a href="/" class="nav-link">Home</a></li>
        <li><a href="#" class="nav-link">Store</a></li>
        <li><a href="#" class="nav-link">About</a></li>
        <li><a href="{% url 'contact' %}" class="nav-link">Contact</a></li>
       
      </ul>
    </div>
    <div class="burger" onclick="active()">
      <i class="fa-solid fa-bars"></i>
    </div>
  </div>
</nav>

<div class="contact-title">
  <h1>
    Contact Us
  </h1>
</div>

<div class="contact-container">
  
     {% if messages %}
            {% for message in messages %}
                <div class="message {% if message.tags %}{{ message.tags }}{% endif %}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
  
  
        <form method="POST" action="{% url "contact" %}">
            {% csrf_token %}
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            
            <label for="subject">Subject:</label>
            <input type="text" id="subject" name="subject" required>
            
            <label for="message">Message:</label>
            <textarea id="message" name="message" required></textarea>
            
            <button type="submit">Send</button>
        </form>
    </div>
<script src="/static/js/main.js"></script>
</body>
</html>
